### Problem 1

Write a program that multiplies three numbers entered by the user. Print the output with the format method.

In [ ]:
x = input('Enter the first number: ')
x = int(x)
y = input('Enter the second number: ')
y = int(y)
z = input('Enter the third number: ')
z = int(z)
number_sum = x + y + z
print('The sum of the numbers {},{},{} is: {}'.format(x, y, z, number_sum))

Enter the first number3
Enter the second number4
Enter the third number5
The sum of the numbers 3,4,5 is: 12

### Problem 2

Write a program that calculates body mass index from **height** and **weight** entered by the user. 

Body mass index :  Weight / Height(m) * Height(m)

In [ ]:
height = input('Enter your height in centimeters: ')
height = int(height)/100
weight = input('Enter your weight in kilograms: ')
weight = int(weight)
body_mass_index = weight/height**2
print('Your body index is: {}'.format(round(body_mass_index, 2)))

Enter your height in centimeters: 160
Enter your weight in kilograms: 51
Your body index is: 19.92

### Problem 3

With your $ 200, how many pieces of material can you get for $ 11 each? How much money do you have left after buying?

In [ ]:
initial_money = 200
each_item_price = 11
total_item_bought= initial_money//each_item_price
#print(total_item_bought)
cashback = initial_money % each_item_price
print('With your {0} $, you can buy {2} items for {1} $ each. And you get {3} $ cashback.'.format(initial_money, each_item_price, total_item_bought, cashback))

With your 200 $ you can buy 18 items for 11 $ each. And you get 2 $ cashback

### Problem 4

Ask the user for two numbers and assign these numbers to variables and replace the values of these variables with each other.

In [ ]:
first_number = input('Please enter the first number:')
first_number = int(first_number)
second_number = input('Please enter the second number:')
second_number = int(second_number)
z = first_number
first_number = second_number
second_number = z
print('From now on consider "{}" as the first number and "{}" as the second number.'.format(first_number, second_number))

Please enter the first number:17
Please enter the second number:200
From now on consider "200" as the first number and "17" as the second number.

### Problem 5

Write a Python program to solve (x - y) * (x + y).

In [ ]:
x = input('Inpu a value for "X": ')
x = float(x)
y = input('Inpu a value for "Y": ')
y = float(y)
calculation = (x-y)*(x+y)
print('The Solution for "(x - y) * (x + y)" equation is: {}'.format(calculation))

Inpu a value for "X": 11.2
Inpu a value for "Y": 5.6
The Solution for "(x - y) * (x + y)" equation is: 94.07999999999998

### Problem 6

Get **word**, **seperator** and **repetition** values from the user and print the word on the screen according to the given values. 

Ex: word = ali sep = / repetition = 3 ----> ali/ali/ali

In [ ]:
word = input('Please enter any word.')
repetition = input('How many times you want your word to be repeated?')
repetition = int(repetition)
seperator = input('Which seperation character you prefer?')
print((word+seperator)*repetition + '\b')

Please enter any word.Vildan
How many times you want your word to be repeated?7
Which seperation character you prefer?$
Vildan$Vildan$Vildan$Vildan$Vildan$Vildan$Vildan$

### Problem 7

Get a sitring and an integer input from the user and get the output shown as in the example.

Ex: word = Clarusway n = 3 OUTPUT = waywayway

In [ ]:
word = input('Please enter any word: ')
repetition = input('Please enter a number: ')
repetition = int(repetition)
print(word[repetition*-1:]*repetition)

Please enter any word: Arslanoglu
Please enter a number: 4
ogluogluogluoglu

### Problem 8

Get a number from the user. 

If the number is divided by 3 print *Clarus*, if it is divided by 5 print *way*, if it is divided by both 3 and 5 print *Clarusway*. 

If not, print the number itself.

In [ ]:
number = int(input("number:"))
mylist = [number, "Clarus", "way", "Clarusway"]
print(mylist [(1 and number % 3  == 0) + 2 * (1 and number % 5 == 0)])

number:11
11

### Problem 9
letters = "abclarusxyz"
- get the word **clarus** in the string
- get the word **cba**
- print the last eight characters in reverse order

In [ ]:
letters = 'abclarusxyz'
#print(len(letters))
print(letters[2:8])
print(letters[2::-1])
print(letters[len(letters)-1:len(letters)-9:-1])

11
clarus
cba
zyxsural

### Problem 10

Print **Clarusway is the best** from the elements of the rand_list list.

rand_list = [1,[1, 2, "Clarus", [2, "way"]], " is the best"]

In [ ]:
rand_list = [1,[1, 2, "Clarus", [2, "way"]], " is the best"]

print(rand_list[1][2], rand_list[1][3][1], rand_list[2], sep='')

Clarusway is the best

### Problem 11

Sort the list given below in ascending order. Find the missing number from 1 to 10.

num_list = [2, 3, 1, 5, 6, 4, 9, 8, 10]

In [ ]:
num_list = [2, 3, 1, 5, 6, 4, 9, 8, 10]
num_list.sort()
print('List in order is: ',num_list)
toplam = sum(num_list)
missing_number = (10*(10+1)/2)-toplam
print('Missing number in the list is: ', int(missing_number))

List in order is:  [1, 2, 3, 4, 5, 6, 8, 9, 10]
Missing number in the list is:  7

### Problem 12

Print the oldest person's name?

old ={
  "Emma": 71,
  "Jack": 45,
  "Amy": 15,
  "Ben": 29
}

In [ ]:
old ={ "Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29 }
print(type(old))
print(list(old))
age_list = [old['Emma'], old['Jack'], old['Amy'], old['Ben']]
print(age_list)
print(max(age_list))
print(min(old))

<class 'dict'>
['Emma', 'Jack', 'Amy', 'Ben']
[71, 45, 15, 29]
71
Amy

### Problem 13

Write a Python program to sum all the items in a dictionary.

my_dict = {'data1':100,'data2':-54,'data3':247}

In [ ]:
my_dict ={'data1':100,'data2':-54,'data3':247}
all_data = [my_dict['data1'], my_dict['data2'], my_dict['data3']]
print('Sum of all the items in the dictionary is: ', sum(all_data))

Sum of all the items in the dictionary is:  293

### Problem 14

Write a Python program to compute average of two given lists.

nums1 = [1, 1, 3, 4, 4, 5, 6, 7]
nums2 = [0, 1, 2, 3, 4, 4, 5, 7, 8]

In [ ]:
nums1 = [1, 1, 3, 4, 4, 5, 6, 7]
nums2 = [0, 1, 2, 3, 4, 4, 5, 7, 8]

avarage_nums1 = sum(nums1)/len(nums1)
print('Avarage of nums1 list is: ', avarage_nums1)
avarage_nums2 = sum(nums2)/len(nums2)
print('Avarage of nums2 list is: ', avarage_nums2)

Avarage of nums1 list is:  3.875
Avarage of nums2 list is:  3.7777777777777777